/* 장비 이미지 eq_1 */
.class-eqImg1 {
	height:380px;
	/* background:url('../img/eq_1/packaging-toneup.jpg') no-repeat center; */
}
.class-eqImg1 .class-img1 {
	top:127px;
	left:44px;
}
.class-eqImg1 .class-img2 {
	top:127px;
	left:73px;
}
.class-eqImg1 .class-img3 {
	top:127px;
	left:106px;
}
.class-eqImg1 .class-img4 {
	top:127px;
	left:162px;
}
.class-eqImg1 .class-img5 {
	top:127px;
	left:189px;
}
.class-eqImg1 .class-img6 {
	top:127px;
	left:306px;
}
.class-eqImg1 .class-img7 {
	top:127px;
	left:331px;
}
.class-eqImg1 .class-img8 {
	top:127px;
	left:413px;
}
.class-eqImg1 .class-img9 {
	top:138px;
	left:497px;
}
.class-eqImg1 .class-img10 {
	top:127px;
	left:548px;
}
.class-eqImg1 .class-img11 {
	top:108px;
	left:614px;
}
.class-eqImg1 .class-img12 {
	top:108px;
	left:657px;
}
.class-eqImg1 .class-img13 {
	top:108px;
	left:771px;
}
.class-eqImg1 .class-img14 {
	top:121px;
	left:819px;
}
.class-eqImg1 .class-img15 {
	top:118px;
	left:873px;
}
.class-eqImg1 .class-img16 {
	top:118px;
	left:925px;
}
.class-eqImg1 .class-img17 {
	top:320px;
	left:44px;
}
.class-eqImg1 .class-img18 {
	top:320px;
	left:73px;
}
.class-eqImg1 .class-img19 {
	top:320px;
	left:134px;
}
.class-eqImg1 .class-img20 {
	top:320px;
	left:189px;
}
.class-eqImg1 .class-img21 {
	top:157px;
	left:44px;
}
.class-eqImg1 .class-img22 {
	top:157px;
	left:73px;
}
.class-eqImg1 .class-img23 {
	top:157px;
	left:134px;
}
.class-eqImg1 .class-img24 {
	top:157px;
	left:189px;
}
.class-eqImg1 .class-img25 {
	top:320px;
	left:217px;
}
.class-eqImg1 .class-img26 {
	top:355px;
	left:241px;
}
.class-eqImg1 .class-img27 {
	top:358px;
	left:361px;
}
.class-eqImg1 .class-img28 {
	top:245px;
	left:451px;
}
.class-eqImg1 .class-img29 {
	top:345px;
	left:430px;
}
.class-eqImg1 .class-img30 {
	top:294px;
	left:602px;
}
.class-eqImg1 .class-img31 {
	top:308px;
	left:771px;
}
.class-eqImg1 .class-img32 {
	top:318px;
	left:863px;
}
.class-eqImg1 .class-img33 {
	top:310px;
	left:966px;
}
.class-eqImg1 .class-img34 {
	top:68px;
	left:1162px;
}
.class-eqImg1 .class-img35 {
	top:225px;
	left:1140px;
}
.class-eqImg1 .class-img36 {
	top:277px;
	left:1160px;
}
.class-eqImg1 .class-img37 {
	top:318px;
	left:1140px;
}
.class-eqImg1 .class-img38 {
	top:373px;
	left:1155px;
}
.class-eqImg1 .class-img39 {
	top:412px;
	left:1140px;
}
/* sim gen3 */
.class-eqImg1.class-simgen3 {
	height:520px;
	background:url('../img/sanken/simgen-background.png') no-repeat center; /*junsung.song*/
}
.class-eqImg1.class-simgen3 .class-img1 {
	top:127px;
	left:44px;
}
.class-eqImg1.class-simgen3 .class-img2 {
	top:127px;
	left:73px;
}
.class-eqImg1.class-simgen3 .class-img3 {
	top:127px;
	left:106px;
}
.class-eqImg1.class-simgen3 .class-img4 {
	top:127px;
	left:162px;
}
.class-eqImg1.class-simgen3 .class-img5 {
	top:127px;
	left:189px;
}
.class-eqImg1.class-simgen3 .class-img6 {
	top:127px;
	left:306px;
}
.class-eqImg1.class-simgen3 .class-img7 {
	top:127px;
	left:331px;
}
.class-eqImg1.class-simgen3 .class-img8 {
	top:127px;
	left:413px;
}
.class-eqImg1.class-simgen3 .class-img9 {
	top:138px;
	left:497px;
}
.class-eqImg1.class-simgen3 .class-img10 {
	top:127px;
	left:548px;
}
.class-eqImg1.class-simgen3 .class-img11 {
	top:108px;
	left:614px;
}
.class-eqImg1.class-simgen3 .class-img12 {
	top:108px;
	left:657px;
}
.class-eqImg1.class-simgen3 .class-img13 {
	top:108px;
	left:771px;
}
.class-eqImg1.class-simgen3 .class-img14 {
	top:121px;
	left:819px;
}
.class-eqImg1.class-simgen3 .class-img15 {
	top:118px;
	left:873px;
}
.class-eqImg1.class-simgen3 .class-img16 {
	top:118px;
	left:925px;
}
.class-eqImg1.class-simgen3 .class-img17 {
	top:324px;
	left:44px;
}
.class-eqImg1.class-simgen3 .class-img18 {
	top:324px;
	left:73px;
}
.class-eqImg1.class-simgen3 .class-img19 {
	top:324px;
	left:106px;
}
.class-eqImg1.class-simgen3 .class-img20 {
	top:324px;
	left:189px;
}
.class-eqImg1.class-simgen3 .class-img21 {
	top:361px;
	left:44px;
}
.class-eqImg1.class-simgen3 .class-img22 {
	top:361px;
	left:73px;
}
.class-eqImg1.class-simgen3 .class-img23 {
	top:361px;
	left:106px;
}
.class-eqImg1.class-simgen3 .class-img24 {
	top:361px;
	left:189px;
}
.class-eqImg1.class-simgen3 .class-img25 {
	top:324px;
	left:217px;
}
.class-eqImg1.class-simgen3 .class-img26 {
	top:360px;
	left:241px;
}
.class-eqImg1.class-simgen3 .class-img27 {
	top:362px;
	left:360px;
}
.class-eqImg1.class-simgen3 .class-img28 {
	top:245px;
	left:451px;
}
.class-eqImg1.class-simgen3 .class-img29 {
	top:349px;
	left:430px;
}
.class-eqImg1.class-simgen3 .class-img30 {
	top:298px;
	left:602px;
}
.class-eqImg1.class-simgen3 .class-img31 {
	top:313px;
	left:771px;
}
.class-eqImg1.class-simgen3 .class-img32 {
	top:322px;
	left:863px;
}
.class-eqImg1.class-simgen3 .class-img33 {
	top:314px;
	left:966px;
}
.class-eqImg1.class-simgen3 .class-img34 {
	top:68px;
	left:1162px;
}
.class-eqImg1.class-simgen3 .class-img35 {
	top:225px;
	left:1140px;
}
.class-eqImg1.class-simgen3 .class-img36 {
	top:277px;
	left:1160px;
}
.class-eqImg1.class-simgen3 .class-img37 {
	top:318px;
	left:1140px;
}
.class-eqImg1.class-simgen3 .class-img38 {
	top:373px;
	left:1155px;
}
.class-eqImg1.class-simgen3 .class-img39 {
	top:412px;
	left:1140px;
}

/* notching */
.class-eqImg1.class-notching {
	height:800px;
}
.class-eqImg1.class-notching .class-text1 {
	font-size:14px;
	font-weight:bold;
	color:#414852;
	top:60px;
	left:0px;
}
.class-eqImg1.class-notching .class-text2 {
	font-size:14px;
	font-weight:bold;
	color:#414852;
	top:480px;
	left:0px;
}
.class-eqImg1.class-notching .class-img1 {
	top:0px;
	left:115px;
}
.class-eqImg1.class-notching .class-img2 {
	top:420px;
	left:115px;
}

/* sim 170922 add jin sanken*/
.class-eqImg1 .class-text {
	font-size:12px;
	font-weight:bold;
	color:#414852;
	text-align:center;
}
.class-eqImg1.class-sim {
	height:203px;
	background:url('../img/sanken/sim/sim_background.png') no-repeat center; 
}
.class-eqImg1.class-sim .class-text0 {
	top:112px;
	left:34px;
	font-size:15px;
}
.class-eqImg1.class-sim .class-text0-2 {
	top:130px;
	left:34px;
}
.class-eqImg1.class-sim .class-text1 {
	top:65px;
	left:104px;
}
.class-eqImg1.class-sim .class-text2 {
	top:163px;
	left:104px;
}
.class-eqImg1.class-sim .class-text3 {
	top:65px;
	left:168px;
}
.class-eqImg1.class-sim .class-text4 {
	top:163px;
	left:185px;
}
.class-eqImg1.class-sim .class-text5 {
	top:48px;
	left:235px;
}
.class-eqImg1.class-sim .class-text6 {
	top:100px;
	left:313px;
}
.class-eqImg1.class-sim .class-text6_1 {
	top:108px;
	left:413px;
}
.class-eqImg1.class-sim .class-text7 {
	top:84px;
	left:520px;
}
.class-eqImg1.class-sim .class-text8 {
	top:152px;
	left:534px;
}
.class-eqImg1.class-sim .class-text9 {
	top:155px;
	left:698px;
}
.class-eqImg1.class-sim .class-text10 {
	top:147px;
	left:818px;
}
.class-eqImg1.class-sim .class-text11 {
	top:133px;
	left:894px;
}
.class-eqImg1.class-sim .class-text12 {
	top:142px;
	left:993px;
}
.class-eqImg1.class-sim .class-text13 {
	top:43px;
	left:1113px;
}
.class-eqImg1.class-sim .class-text13_1 {
	top:139px;
	left:1113px;
}
.class-eqImg1.class-sim .class-text14 {
	top:96px;
	left:1113px;
}
.class-eqImg1.class-sim .class-img1 {
	top:85px;
	left:90px;
}
.class-eqImg1.class-sim .class-img2 {
	top:122px;
	left:90px;
}
.class-eqImg1.class-sim .class-img3 {
	top:86px;
	left:151px;
}
.class-eqImg1.class-sim .class-img4 {
	top:123px;
	left:151px;
}
.class-eqImg1.class-sim .class-img5 {
	top:87px;
	left:235px;
}
.class-eqImg1.class-sim .class-img6 {
	top:120px;
	left:282px;
}
.class-eqImg1.class-sim .class-img6-2 {
	top:126px;
	left:402px;
}
.class-eqImg1.class-sim .class-img7 {
	top:62px;
	left:498px;
}
.class-eqImg1.class-sim .class-img8 {
	top:111px;
	left:478px;
}
.class-eqImg1.class-sim .class-img9 {
	top:58px;
	left:645px;
}
.class-eqImg1.class-sim .class-img9-2 {
	top:58px;
	left:677px;
}
.class-eqImg1.class-sim .class-img9-3 {
	top:58px;
	left:710px;
}
.class-eqImg1.class-sim .class-img9-4 {
	top:58px;
	left:742px;
}
.class-eqImg1.class-sim .class-img9-5 {
	top:58px;
	left:775px;
}
.class-eqImg1.class-sim .class-img9-6 {
	top:82px;
	left:645px;
}
.class-eqImg1.class-sim .class-img9-7 {
	top:82px;
	left:677px;
}
.class-eqImg1.class-sim .class-img9-8 {
	top:82px;
	left:710px;
}
.class-eqImg1.class-sim .class-img9-9 {
	top:82px;
	left:742px;
}
.class-eqImg1.class-sim .class-img9-10 {
	top:82px;
	left:775px;
}
.class-eqImg1.class-sim .class-img9-11 {
	top:123px;
	left:645px;
}
.class-eqImg1.class-sim .class-img9-12 {
	top:123px;
	left:677px;
}
.class-eqImg1.class-sim .class-img9-13 {
	top:123px;
	left:710px;
}
.class-eqImg1.class-sim .class-img9-14 {
	top:123px;
	left:742px;
}
.class-eqImg1.class-sim .class-img10 {
	top:68px;
	left:813px;
}
.class-eqImg1.class-sim .class-img11 {
	top:80px;
	left:875px;
}
.class-eqImg1.class-sim .class-img12 {
	top:74px;
	left:976px;
}
.class-eqImg1.class-sim .class-img13 {
	top:38px;
	left:1150px;
}
.class-eqImg1.class-sim .class-img14 {
	top:93px;
	left:1157px;
}
.class-eqImg1.class-sim .class-img15 {
	top:133px;
	left:1150px;
}
.class-eqImg1.class-sim .class-img {
	top:px;
	left:px;
}
/* gen3 170922 add jin*/
.class-eqImg1.class-gen3 {
	height:262px;
	background:url('../img/eq_gen3/gen3_background.png') no-repeat center; 
}
.class-eqImg1.class-gen3 .class-text0 {
	top:122px;
	left:35px;
	font-size:15px;
}
.class-eqImg1.class-gen3 .class-text1 {
	top:92px;
	left:107px;
}
.class-eqImg1.class-gen3 .class-text2 {
	top:92px;
	left:165px;
}
.class-eqImg1.class-gen3 .class-text3 {
	top:92px;
	left:256px;
}
.class-eqImg1.class-gen3 .class-text4 {
	top:92px;
	left:364px;
}
.class-eqImg1.class-gen3 .class-text5 {
	top:92px;
	left:470px;
}
.class-eqImg1.class-gen3 .class-text6 {
	top:65px;
	left:599px;
}
.class-eqImg1.class-gen3 .class-text7 {
	top:65px;
	left:664px;
}
.class-eqImg1.class-gen3 .class-text8 {
	top:65px;
	left:732px;
}
.class-eqImg1.class-gen3 .class-text9 {
	top:65px;
	left:817px;
}
.class-eqImg1.class-gen3 .class-text10 {
	top:85px;
	left:867px;
}
.class-eqImg1.class-gen3 .class-text11 {
	top:155px;
	left:917px;
}
.class-eqImg1.class-gen3 .class-text12 {
	top:155px;
	left:984px;
}
.class-eqImg1.class-gen3 .class-text13 {
	top:170px;
	left:602px;
}
.class-eqImg1.class-gen3 .class-text14 {
	top:76px;
	left:1117px;
}
.class-eqImg1.class-gen3 .class-text15 {
	top:156px;
	left:1117px;
}
.class-eqImg1.class-gen3 .class-text16 {
	top:202px;
	left:1117px;
}
.class-eqImg1.class-gen3 .class-img1 {
	top:115px;
	left:90px;
}
.class-eqImg1.class-gen3 .class-img2 {
	top:116px;
	left:151px;
}
.class-eqImg1.class-gen3 .class-img3 {
	top:118px;
	left:224px;
}
.class-eqImg1.class-gen3 .class-img4 {
	top:115px;
	left:343px;
}
.class-eqImg1.class-gen3 .class-img5 {
	top:115px;
	left:453px;
}
.class-eqImg1.class-gen3 .class-img6 {
	top:100px;
	left:599px;
}
.class-eqImg1.class-gen3 .class-img7 {
	top:100px;
	left:662px;
}
.class-eqImg1.class-gen3 .class-img7-2 {
	top:140px;
	left:662px;
}
.class-eqImg1.class-gen3 .class-img8 {
	top:100px;
	left:704px;
}
.class-eqImg1.class-gen3 .class-img8-2 {
	top:100px;
	left:738px;
}
.class-eqImg1.class-gen3 .class-img8-3-1 {
	top:140px;
	left:704px;
}
.class-eqImg1.class-gen3 .class-img8-3 {
	top:140px;
	left:738px;
}
.class-eqImg1.class-gen3 .class-img8-4{
	top:140px;
	left:772px;
}
.class-eqImg1.class-gen3 .class-img9 {
	top:100px;
	left:813px;
}
.class-eqImg1.class-gen3 .class-img10 {
	top:120px;
	left:867px;
}
.class-eqImg1.class-gen3 .class-img11 {
	top:118px;
	left:921px;
}
.class-eqImg1.class-gen3 .class-img12 {
	top:118px;
	left:961px;
}
.class-eqImg1.class-gen3 .class-img13 {
	top:140px;
	left:600px;
}
.class-eqImg1.class-gen3 .class-img14 {
	top:29px;
	left:1169px;
}
.class-eqImg1.class-gen3 .class-img15 {
	top:150px;
	left:1157px;
}
.class-eqImg1.class-gen3 .class-img16 {
	top:200px;
	left:1163px;
}