@charset "utf-8";

/*------------------------------------------------------------------
	Index dashboard 
-------------------------------------------------------------------*/
.class-indexLayout {
	float:left;
	overflow:hidden;
}
.class-indexLayout:nth-of-type(1) {
	width:860px;
	margin-right:30px;
}
.class-indexLayout:nth-of-type(2) {
	width:390px;;
}
/* 세계지도 */
.class-worldmap {
	position:relative;
	width:100%;
	height:440px;
	border:1px solid #cdd0d5;
	box-sizing:border-box;
	background-color:#f8fbff;
	margin-bottom:10px; /* add jin h:530 */
}
.class-location {
	position:absolute;
	top:220px;
	left:600px;
	height:33px;
	padding-left:30px;
	padding-top:7px;
	box-sizing:border-box;
	font-weight:600;
	background:url('../img/icon_map_location.png') no-repeat left top;
}
.class-mapEq {
	position:absolute;
	top:100px;
	left:700px;
	width:200px;
	border:1px solid #d0d4d7;
	background-color:#fff;
}
.class-mapEq:after {
	content:"";
	position:absolute;
	bottom:-10px;
	left:95px;
	border-top:10px solid #d0d4d7;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}
.class-mapEq li {
	height:45px;
	line-height:45px;
	padding-left:15px;
	width:100%;
	box-sizing:border-box;
	border-bottom:1px solid #d0d4d7;
	cursor:pointer;
	font-weight:600;
}
.class-mapEq li:hover {
	background-color:#eee;
}
.class-mapEq li:last-child {
	border-bottom:0px;
}
/* index - section */
.class-indexSection {
	position:relative;
	height:530px;  /* add jin h:530 170911*/
	box-shadow:0px 0px 10px rgba(0,0,0,0.1);
	background-color:#fff;
	margin-bottom:10px; /* add jin h:530 */
}
.class-indexHeader {
	width:100%;
	background-color: #646c78; /* add jin h:530 */
    height: 40px; /* add jin h:530 */
	color:#fff; /* add jin h:530 */
}
.class-indexHeader span {
	font-weight:600;
}
.class-indexHeader h1 {
	padding:12px 0 0 16px; /* add jin h:530 */
	color:#fff; /* add jin h:530 */
	font-size:16px; /* add jin h:530 */
}
.class-indexContent {
	position:relative;
	/*height:490px;  /* add jin h:530  170911*/
	min-height:100px; /*junsung.song*/
	overflow-y:auto;
	overflow-x:hidden;
	background-color:#fff;
	padding:20px;  /* add jin h:530 */
	box-sizing:border-box;
}
/* 알람 수 */
.class-indexAlarm {
	padding:70px 35px 60px; /* add jin h:530  170911*/
}
.class-indexAlarm .class-eqAlarmsDate {
	top:10px;  /* add jin h:530 */
	left:30px;  /* add jin h:530 */
}
.class-indexAlarm .class-term {
	position:absolute;
	top:10px;  /* add jin h:530 */
    right:30px;  /* add jin h:530 */
}
.class-indexAlarm > div:nth-of-type(1) {
	width:50%; /* add jin h:530 */
	margin-right:35px;
	float:left;
	height:300px; /* add jin h:530 */
}
.class-indexAlarm > div:nth-of-type(2) {
	width:47%; /* add jin h:530 */
	float:left;
	height:300px; /* add jin h:530 */
}
#stackbar2 {    /*junsung.song*/
	width: 50%;
	height: 300px;
}

#piechart {    /*junsung.song*/
    width: 47%;
    height: 300px;
}
/* 최근 본 장비 */
.class-mainLatest {
	float:left;
	width:630px;
}
.class-mainLatest .class-indexContent {
	height: 490px; /* add jin h:530 */
	padding:20px;
}
.class-eqList {
	margin-bottom:0px;
}
.class-eqList li {
	background:url('../img/recent.png') no-repeat left top;
	height:40px; /* add jin h:530 */
	line-height:40px; /* add jin h:530 */
	padding-left:15px;
	box-sizing:border-box;
	margin-bottom:20px;
	font-size:14px; /* add jin h:530 */
	font-weight:600;
	cursor:pointer;
}
.class-eqList li:last-child {
	margin:0px;
}
.class-eqList li > span:nth-of-type(1) {
	display:inline-block;
	width:250px;
}
.class-eqList li > span:nth-of-type(3) {
	display:inline-block;
	width:230px;
}
.class-eqList .class-hide {
	display:inline-block;
	width:40px;
	text-indent:-9999px;
}
.class-eqList .class-white {
	display:inline-block;
	color:#fff;
}
.class-eqList li:last-child {
	margin-bottom:0;
}
.class-delete {
	display:inline-block;
	float:right;
	width:40px;  /* add jin h:530 */
	height:40px; /* add jin h:530 */
	text-indent:-9999px;
	background:#ecedf2 url('../img/btn_delete.png') no-repeat center;
}
/* 즐겨 찾는 장비*/
.class-mainFavo {
	width:630px;
	float:right;
}
.class-eqFavo {
	height:490px; /* add jin h:530 */
	padding:20px;
}
.class-eqFavo li {
	background:url('../img/favorite.png') no-repeat left top;
	padding-left:15px;
	box-sizing:border-box;
	margin-bottom:20px;
	font-weight:600;
	cursor:pointer;
}
.class-eqFavo li > span {
	display:inline-block;
}
.class-eqFavo li > span:nth-of-type(1) {
	width:120px;
}
.class-eqFavo li > span:nth-of-type(3) {
	width:125px;
	max-width:125px;
}
.class-eqFavo li > span:nth-of-type(5) {
	width:130px;
	max-width:130px;
}
.class-eqFavo .class-white {
	color:#fff;
}
.class-eqFavo li:last-child {
	margin-bottom:0;
}
.class-delete {
	display:inline-block;
	float:right;
	/*width:50px;
	height:50px;  /* add jin h:530 */
	text-indent:-9999px;
	background:#ecedf2 url('../img/btn_delete.png') no-repeat center;
}
/* 리포트 설정 내역 */
.class-mainReport {
	clear:both;
	width:630px;
}